<% if (ui.toString() === 'material') { %>
<mat-card class="table-card">
    <mat-card-header>
        <mat-card-title i18n="<%= classify(pluralize(name)) %> list header|<%= classify(pluralize(name)) %> list name@@<%= camelize(pluralize(name)) %>ListHeader"><%= classify(pluralize(name)) %></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="table-container">
            <table mat-table [dataSource]="list">
                <% parameters.forEach(function(parameter){ %>
                <ng-container matColumnDef="<%= parameter %>">
                    <th mat-header-cell *matHeaderCellDef> <%= parameter %></th>
                    <td mat-cell *matCellDef="let element"> {{element.<%= parameter %>}}</td>
                </ng-container>
                <% }) %>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/<%= dasherize(pluralize(name)) %>', element.id]"
                           mat-button
                           i18n="view button|view@@viewButton">View</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="'/<%= dasherize(pluralize(name)) %>/new'"
           mat-button
           i18n="new button|new@@newButton">New</a>
    </mat-card-actions>
</mat-card>
<% } else if(ui.toString() === 'bootstrap'){ %>
<h2 i18n="<%= classify(pluralize(name)) %> list header|<%= classify(pluralize(name)) %> list name@@<%= camelize(pluralize(name)) %>ListHeader"><%= classify(pluralize(name)) %></h2>
<table class="table table-responsive">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <% parameters.forEach(function(parameter){ %>
        <th><%= parameter %></th>
        <% }) %>
        <th i18n="actions label|actions@@actionsLabel">actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of list; let i = index">
        <th scope="row">{{i+1}}</th>
        <% parameters.forEach(function(parameter){ %>
        <td>{{item.<%= parameter %>}}</td>
        <% }) %>
        <td>
            <a [routerLink]="['/<%= dasherize(pluralize(name)) %>', item.id]"
               i18n="view button|view@@viewButton">View</a>
        </td>
    </tr>
    </tbody>
</table>
<a [routerLink]="'/<%= dasherize(pluralize(name)) %>/new'"
   i18n="new button|new@@newButton">New</a>
<% } else { %>
<h2 i18n="<%= classify(pluralize(name)) %> list header|<%= classify(pluralize(name)) %> list name@@<%= camelize(pluralize(name)) %>ListHeader"><%= classify(pluralize(name)) %></h2>
<table>
    <thead>
    <tr>
        <th>#</th>
        <% parameters.forEach(function(parameter){ %>
        <th><%= parameter %></th>
        <% }) %>
        <th i18n="actions label|actions@@actionsLabel">actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of list; let i = index">
        <th>{{i+1}}</th>
        <% parameters.forEach(function(parameter){ %>
        <td>{{item.<%= parameter %>}}</td>
        <% }) %>
        <td>
            <a [routerLink]="['/<%= dasherize(pluralize(name)) %>', item.id]"
               i18n="view button|view@@viewButton">View</a>
        </td>
    </tr>
    </tbody>
</table>
<a [routerLink]="'/<%= dasherize(pluralize(name)) %>/new'"
   i18n="new button|new@@newButton">New</a>
<% } %>