<% if(ui.toString() === 'material'){ %>
<mat-card class="details-card">
    <mat-card-header>
        <mat-card-title i18n="<%= classify(singularize(name)) %> header|<%= classify(singularize(name)) %> name@@<%= camelize(singularize(name)) %>Header"><%= classify(singularize(name)) %> Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <% parameters.forEach(function(parameter){ %>
            <mat-list-item>
                <strong><%= parameter %>: </strong> {{selected<%= classify(singularize(vo)) %>.<%= parameter %>}}
            </mat-list-item>
            <% }) %>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['/<%= dasherize(name) %>', selected<%= classify(singularize(vo)) %>.id, 'edit']"
           mat-button
           i18n="edit button|edit@@editButton">Edit</a>
        <a (click)="onDestroy()"
           color="warn"
           mat-button
           i18n="destroy button|destroy@@destroyButton">Destroy</a>
    </mat-card-actions>
</mat-card>
<% } else if(ui.toString() === 'bootstrap'){ %>
<h2 i18n="<%= classify(singularize(name)) %> header|<%= classify(singularize(name)) %> name@@<%= camelize(singularize(name)) %>Header"><%= classify(singularize(name)) %> Details</h2>
<% parameters.forEach(function(parameter){ %>
<div>
    <label><%= parameter %>: </label> {{selected<%= classify(singularize(vo)) %>.<%= parameter %>}}
</div>
<% }) %>

<a [routerLink]="['/<%= dasherize(name) %>', selected<%= classify(singularize(vo)) %>.id, 'edit']"
   class="btn btn-primary"
   i18n="edit button|edit@@editButton">Edit</a>
<a (click)="onDestroy()"
   class="btn btn-danger"
   i18n="destroy button|destroy@@destroyButton">Destroy</a>
<% } else { %>
<h2 i18n="<%= classify(singularize(name)) %> header|<%= classify(singularize(name)) %> name@@<%= camelize(singularize(name)) %>Header"><%= classify(singularize(name)) %> Details</h2>
<% parameters.forEach(function(parameter){ %>
<div>
    <label><%= parameter %>: </label> {{selected<%= classify(singularize(vo)) %>.<%= parameter %>}}
</div>
<% }) %>

<a [routerLink]="['/<%= dasherize(name) %>', selected<%= classify(singularize(vo)) %>.id, 'edit']"
   i18n="edit button|edit@@editButton">Edit</a>
<a (click)="onDestroy()"
   i18n="destroy button|destroy@@destroyButton">Destroy</a>
<% } %>